{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver",{
            "root":["./"],
            "alias":{
                "@":"./",
                "@client": "./client",
                "@pages":"./client/pages",
                "@components":"./client/components",
                "@store": "./client/store",
                "@controllers":"./server/controllers",
                "@config":"./server/config/default",
                "@routes":"./server/routes"
            }
        }]
    ]
}